$font-family-base: 'Inter', sans-serif;
$title-color: #191825;
$text-color: #f85e9f;
$transparent-color: rgba(25, 24, 37, 0.5);
$secondary-color: white;
$bright-color: #ff5722;
$background-color: #5d50c6;