.location {
  margin: 0 auto;
  padding: 10px;

  &__img {
    max-width: 100%;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  &__title {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 10px;
  }

  &__title--main {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: $title-color;
  }

  &__text {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: $transparent-color;
    margin-bottom: 30px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 32px;
    padding: 32px;
  }

  &__amount {
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: #ff5722;
    margin-bottom: 30px;
  }

  &__name {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $title-color;
  }
}

@media (min-width: 768px) {
  .location {
    padding: 20px 30px 0px 30px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__card {
      width: 280px;
    }
  }
}

@media (min-width: 1140px) {
  .location {
    padding: 20px 130px 0px 130px;
    max-width: 100%;
    display: flex;
    margin-top: 50px;

    &__content {
      display: flex;
      flex-direction: column;
    }
    
    &__img {
      width: 700px;
    }

    &__titles {
      display: flex;
      flex-direction: column;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__card {
      width: 150px;
    }
  }
}
